/* ===main part === */
.info {
    margin: 20px;
}

a {
    display: inline-block;
}

.infos {
    flex-wrap: wrap;
    justify-content: center;
}

.steps {
    flex-wrap: wrap;
    justify-content: space-around;
}

.step {
    margin: 10px;
}

.list {
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 1712px) {
    .container_2,
    .container {
        max-width: 90%;
    }

    .section_3 {
        justify-content: space-around;
    }

    .cars {
        margin-top: 50px;
    }

    .steps img {
        width: 50%;
        margin: 0 auto;
    }

    .pictures {
        justify-content: space-around;
    }

    .pictures img {
        margin: 20px;
        width: 80%;
    }

    .footer_title {
        text-align: start;
    }
}

@media (max-width: 1333px)  {
    .header .navbar {
        justify-content: space-around;
    }

    .list_2 {
        margin-top: 50px;
    }
}

@media (max-width: 672px) {
    .step_text {
        font-size: 12px;
    }
}

@media (max-width: 626px) {
    .footer_left input {
        max-width: 90%;
    }

    .footer_title {
        font-size: 30px;
    }

    .footer_left {
        width: 90%;
    }
}

@media (max-width:536px ) {

    .header {
        position: static;
    }

    .list_2 {
        flex-direction: column;
        align-items: center;
    }

    .second {
        margin-bottom: 20px;
    }

    .infos  {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .info {
        margin: 20px;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons a {
        margin: 20px 0;
    }

    .footer_right {
        align-items: center;
    }
    
    .footer_right img {
        max-width: 90%;
    }
}

/* ===main part === */

.section_1 img {
   display: flex;
   justify-content: center;
   max-width: 95%;
}

.asides,
.sidebar_center,
.block_right {
    margin: 10px 5px;
}

@media (max-width: 525px) {
    .block_right {
        max-width: 90%;
    }
    
    .block_right img {
        max-width: 90%;
    }
    
    .sidebar_center {
        max-width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sidebar_center .sidebar_main {
        max-width: 100%;
        margin-top: 0px;
    }
    
    iframe {
        max-width: 100%;
    }
}

@media (max-width: 350px) {
    .sidebar_center {
        max-width: 111%;
    }
}