/* ===main part === */

a {
    display: inline-block;
}

@media (max-width: 1712px) {
    .container_2,
    .container {
        max-width: 90%;
    }

    .section_3 {
        justify-content: space-around;
    }

    .cars {
        margin-top: 50px;
    }

    .steps img {
        width: 50%;
        margin: 0 auto;
    }

    .pictures {
        justify-content: space-around;
    }

    .pictures img {
        margin: 20px;
        width: 80%;
    }

    .footer_title {
        text-align: start;
    }
}

@media (max-width: 1333px)  {
    .header .navbar {
        justify-content: space-around;
    }

    .list_2 {
        margin-top: 50px;
    }
}

@media (max-width: 672px) {
    .step_text {
        font-size: 12px;
    }
}

@media (max-width: 626px) {
    .footer_left input {
        max-width: 90%;
    }

    .footer_title {
        font-size: 30px;
    }

    .footer_left {
        width: 90%;
    }
}

@media (max-width:536px ) {

    .header {
        position: static;
    }

    .list_2 {
        flex-direction: column;
        align-items: center;
    }

    .second {
        margin-bottom: 20px;
    }

    .infos  {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .info {
        margin: 20px;
    }

    .buttons {
        flex-direction: column;
    }

    .buttons a {
        margin: 20px 0;
    }

    .footer_right {
        align-items: center;
    }
    
    .footer_right img {
        max-width: 90%;
    }
}

/* ===main part === */

@media (max-width: 1010px) {
    .section_3-content .cars .car {
        flex-direction: column;
        justify-content: space-around;
    }
    
    .right {
        margin: 0 auto;
    }
    .cars {
        
        margin: 0 auto;
    }

    .car {
        margin: 20px 0;
    }

    .car .left {
        max-width: 350px;
    }

    .car {
        border-bottom: none;
    }
}

@media (max-width: 508px) {
    .car {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        margin-left: 39px;
    }

    .navbar .list a {
        font-size: 12px;
    }

    .car img {
        width: 250px;
    }
}